# COPY THIS FILE TO .env AND FILL IN YOUR CREDENTIALS
# https://addons.mozilla.org/en-US/developers/addon/api/key/
WEB_EXT_API_KEY=
WEB_EXT_API_SECRET=
WEB_EXT_ARTIFACTS_DIR=dist
WEB_EXT_SOURCE_DIR=src

# DOCKER VARIABLES FOR AUTO-UPDATE SERVER
COMPOSE_PROJECT_NAME=webextension-helper
COMPOSE_RESTART=always
COMPOSE_NETWORK_REVERSE_PROXY=reverse-proxy
HOSTNAME=webextension-helper.example.com
